<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.orochi235.hued.watch</string>
    <key>ProgramArguments</key>
    <array>
        <string>@@HUED_WATCH_BIN@@</string>
        <string>@@HUED_BIN@@</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/tmp/hued-watch.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/hued-watch.err</string>
</dict>
</plist>
